<div id="container" class="container-background tab-content page-container">

    <div id="create-test-page" class="test-page tab-pane fade active in">

        <div id="sub-menu" class="menu-bar font-14">

            <div class="sub-menu float-left Semibold">

                <span id="step1" class="float-left Semibold">1 : &nbsp;</span>
                <a id="basic-info" class="text-color-imp float-left" data-toggle="tab" href="#test-basic-info" onclick="setActiveStep(this);" aria-expanded="true">Basic Details</a>
                <span id="basic-info-check" class="fa fa-check-circle-o float-left font-14 step-check"></span>
                <span class="fa fa-angle-right float-right font-14 caret-right"></span>



            </div>

        </div>


    </div>
</div>