<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Create Test</span>
      </ng-template>
      <app-create-test></app-create-test>
    </mat-tab>
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Questions Cover Page</span>
      </ng-template>
      <app-questions-cover-page></app-questions-cover-page>
    </mat-tab> -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Publish Test</span>
      </ng-template>
      <app-publish-tests></app-publish-tests>
    </mat-tab>
  </mat-tab-group>
  