<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Create Test</span>
      </ng-template>
      <app-create-test></app-create-test>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Manage Questions</span>
      </ng-template>
      <app-manage-questions></app-manage-questions>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-label">Upload Questions</span>
      </ng-template>
      <app-upload-questions></app-upload-questions>
    </mat-tab>
  </mat-tab-group>
  