<h1>Add/Edit Student Details</h1>
<form [formGroup]="editForm" (ngSubmit)="save()">
  <div class="form-row">
    <label class="bold">Enter Name </label>

    <mat-form-field appearance="outline">
      <mat-label>Name of User</mat-label>
      <input matInput formControlName="name" placeholder="Enter name" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Enter Email </label>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email number" />
    </mat-form-field>
  </div>
  

  <div class="form-row">
    <label class="bold">Enter Phone No. </label>

    <mat-form-field appearance="outline">
      <mat-label>Phone No.</mat-label>
      <input matInput formControlName="phoneNo" type="number" placeholder="Enter phone number" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Enter Registration No. </label>

    <mat-form-field appearance="outline">
      <mat-label>Registration No.</mat-label>
      <input matInput formControlName="registrationNo" type="number" placeholder="Enter Registration Number" />
    </mat-form-field>
  </div>


  <div class="form-row">
    <label class="bold">Enter Password </label>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" />
    </mat-form-field>
  </div>

  
 
  <div class="form-row">
    <label class="bold">Select Group</label>

    <mat-form-field appearance="outline">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group" placeholder="Select group type">
        <mat-option *ngFor="let groupType of groupTypes" [value]="groupType">{{ groupType }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="form-row">
    <label class="bold">Select Sub-Group</label>

    <mat-form-field appearance="outline">
      <mat-label>Sub Group</mat-label>
      <mat-select formControlName="subGroup" placeholder="Select group type">
        <mat-option *ngFor="let subgroupType of subGroupTypes" [value]="subgroupType">{{ subgroupType }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Import Students</label>
    <input id="studentDetailsFile" type="file" class="btn btn-primary" accept=".csv" (change)="importStudents()">
  </div>
  <div class="info">Please Make Sure every email used in file for adding new student must be unique!</div>
    
  <div class="button-container">
    <button class="btn btn-success me-3" type="submit" [disabled]="!editForm.valid">Save</button>
    <button class="btn btn-light" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

