<h1>Add/Edit Teacher Details</h1>
<form [formGroup]="editForm" (ngSubmit)="save()">

  <div class="form-row">
    <label class="bold">Enter Teacher's Name</label>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter name" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Enter Email</label>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Enter Phone No.</label>

    <mat-form-field appearance="outline">
      <mat-label>Phone No.</mat-label>
      <input matInput formControlName="phoneNo" placeholder="Enter email" />
    </mat-form-field>
  </div>

  <div class="form-row">
    <label class="bold">Enter Password</label>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter password" />
    </mat-form-field>
  </div>
  

  <div class="button-container">
    <button class="btn btn-success me-3" type="submit" [disabled]="!editForm.valid">Save</button>
    <button class="btn btn-light" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
