<div class="container">
    <h2 style="text-align: center;
    width: 100%;"> Online Assessment </h2>


    <div class="roww">
        <div class="leftSide">
            <h3> Test Name  </h3>
        </div>
        <div class="rightSide">
           <p>: &nbsp; &nbsp; FLPR Assessment</p>
        </div>
    </div>

    <div class="roww">
        <div class="leftSide">
            <h3>  Test Duration   </h3>
        </div>
        <div class="rightSide">
           <p>: &nbsp; &nbsp;  40 (minutes) </p>
        </div>
    </div>


    <div class="roww">
        <div class="leftSide">
            <h3>   Test Questions    </h3>
        </div>
        <div class="rightSide">
           <p>: &nbsp; &nbsp;   93  </p>
        </div>
    </div>


    <div style="margin: 10px;">

        <div class="card" style="width: 100%; ">
            <div class="card-body">
              <h5 class="card-title"> Important Instructions</h5>
              <h6 class="card-subtitle text-body-secondary" style="margin: 2px !important;"> DIRECTIONS:</h6>
              <div class="card-text">
                <br>Are you interested in knowing more about your own personality? If you will answer honestly and thoughtfully all of the questions on the pages that follow, it will be possible for you to obtain a better understanding of yourself.<br>There is no right or wrong answers because everyone has the right to their own views. All you have to do is answer what is true for you.<br>When you are told to begin, start with question number 1 and answer the questions that follow. <br>Keep these rules in mind:<br>1.	Give only answers that are true for you. It is best to say what you really think.<br>2.	You may have as much time as you need, but try to go fairly fast.<br>3.	It is best to give the first answer that comes to your mind and do not spend too much time on any one question.<br>4.	Answering every question is mandatory. <br>5.	Keep a track of the timer.<br> </div>Some quick example text to build on the card title and make up the bulk of the card's content.

            </div>
          </div>
    </div>

    <div style="width: 90%; display: flex;justify-content: space-between; margin: 10px;">
        <div style="width: 60%;"> <b> Please Note : </b> Navigating to other websites during test is strictly prohibited and may result in auto submission of the test or the test may not be evaluated at all. </div>

        <button type="button" class="btn btn-primary" (click)="startTest()">Start Test</button>

    </div>


</div>
