.example-container {
    min-height: 100%;
    max-width: 100%;
    height: 100%;
}
.example-sidenav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 280px;
}
.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
mat-sidenav-content {
    position: relative;
    background-color: white;
}

mat-sidenav-content .padding-plz {
    padding: 25px;
}

mat-sidenav{
    border-right: 2px solid;
    background-color: beige;
}
