<div class="preview_test_div">

    <div class="test__name">
        <h4>Test Name</h4>
    </div>

    <div class="test__details">
        <div class="flex-row">
            <span class="left">
                Total Time
            </span>
            <span>
                60 Minutes
            </span>
        </div>

        <div class="flex-row">
            <span class="left">
                Total Questions
            </span>
            <span>
                35
            </span>
        </div>

        <div class="flex-row">
            <span class="left">
                Total Marks
            </span>
            <span>
                100 
            </span>
        </div>

        <div class="flex-row">
            <span class="left">
                Instructions
            </span>
            <span>
                Complete exam before time.
            </span>
        </div>
    </div>

</div>