<div class="testNameBox">
    <div class="testName">
        <span>Test Name : </span>
        <span class="bold">FLPR</span>
    </div>

    <span class="dull">Time will be considered in minutes</span>

</div>

<div class="test-structure-container">
    <div class="add-section">
    <div class="test-instructions-heading">Test Instructions</div>
    </div>

    
    <div class="test-structure">

        <div class="test-instructions-box">
            <div class="leftSide">
                <div class="section-attributes">
                    <div class="label-input-container">
                      <label for="test-duration">Test Duration : </label>
                      <mat-form-field appearance="outline">
                        <input matInput type="text" id="test-duration" autofocus>
                      </mat-form-field>
                    </div>
                  </div>
        
                  <div class="section-attributes">
                    <div class="label-input-container">
                      <label for="test-duration">Test Marks :</label>
                      <mat-form-field appearance="outline">
                        <input matInput type="text" id="test-duration" autofocus>
                      </mat-form-field>
                    </div>
                  </div>
        
                  <div class="section-attributes">
                    <div class="label-input-container">
                      <label for="test-duration">Total Questions :</label>
                      <mat-form-field appearance="outline">
                        <input matInput type="text" id="test-duration" autofocus>
                      </mat-form-field>
                    </div>
        
        
        
                  
                  </div>
            </div>

            <div class="rightSide">
                <div class="section-attributes">
                    <div class="label-input-container">
                      <label for="test-duration">Remaining Time : </label>
                      <mat-form-field appearance="outline">
                        <input matInput type="text" id="test-duration" autofocus>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="section-attributes">
                    <div class="label-input-container">
                      <label for="test-duration">Message : </label>
                      <mat-form-field appearance="outline">
                        <input matInput type="text" id="test-duration" autofocus>
                      </mat-form-field>
                    </div>
                  </div>
            </div>

            
        </div>
        <div style="width: 97% ; margin-left: 10px;margin-right: 10px;">
            <ckeditor #editorRef [editor]="Editor"></ckeditor>
        
        </div>


          
    </div>


</div>