<div class="instructions-container">
    <h2 class="instructions-heading">Important Instructions</h2>
    Keep these rules in mind : 
    <ol class="instructions-list">
      <li class="instruction-item">Follow all given guidelines carefully.</li>
      <li class="instruction-item">Do not use any external resources during the test.</li>
      <li class="instruction-item">Read each question thoroughly before answering.</li>
      <li class="instruction-item">Manage your time wisely and pace yourself.</li>
      <li class="instruction-item">Double-check your answers before submitting.</li>
      <li class="instruction-item">Avoid any distractions during the test.</li>
      <li class="instruction-item">Contact the invigilator if you encounter any technical issues.</li>
      <li class="instruction-item">Use the provided calculator for calculations, if allowed.</li>
      <li class="instruction-item">Stay calm and focused throughout the test.</li>
      <li class="instruction-item">Submit your answers before the time limit expires.</li>
    </ol>


    <div style="width: 100%; text-align: right;">
    
        <button type="button" class="btn btn-danger btn-sm" (click)="close()">Close</button>

    </div>

  </div>
  