.test-screen-component{
  height: 81vh;
  background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 0px;
    border-radius: 0 0vh 2.2vh 2.2vh;
    margin-right: 0;
      }
  
  .question-section {
    width: 80%;
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  
  .question-number {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .options mat-radio-button {
    margin-bottom: 10px;
  }
  
  .question-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px;
  }
  
  /* .question-circle {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-basis: calc(20% - 10px); 
  } */

  .question-circle{
    width: 32px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
  .question-circle.active {
    background-color: #007bff;
    color: #fff;
  }
  
  
  

  mat-radio-button{
    width: 100%;
  }

  .quesDisplay{
    display: flex;
    flex-direction: column;
     /* height: 60vh; */
     height: 69vh;
     justify-content: space-between;
  }


  .test-heading{
    width: 100%;
    font-size: 17px;
    font-weight: 400;
  }

  .instruction-page-btn button{
    display: flex;
    align-items: center;
    /* height: 48px; */
    width: 118px;
    justify-content: space-between;
  }

  .lowerLevel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgray;
    /* margin-top: 16.2vh; */
    margin-top: 5vh;
    padding-top: 3.3vh;
    padding-right: 14px;
  }

  .rightSide{
    height: 94vh;
    width: 25%;
    border-left: 2px solid lightgrey;
}


  .question-navigation{
    width: 45%;
    display: flex;
    justify-content: space-between;
  }

  .question-navigation button{
    display: flex;
    align-items: center;
  }

  .question-list-box{
    height: 81%;
    overflow-y: auto;
    padding-left: 28px;

  }

  /* Thin scrollbar styles */
.question-list-box::-webkit-scrollbar {
  width: 5px;
}

.question-list-box::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.question-list-box::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.question-list-box::-webkit-scrollbar-thumb:hover {
  background-color: #858181;
}

.submitTest{
  border-top: 2px solid lightgray;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
}

.submitTest button{
  width: 100%;
  margin-top: 20px;
}