
<div class="test-screen-component">

  <div class="test-heading">
    FLPR Assessment
  </div>

<div class="container">
  <div class="question-section">
    <div class="question-number">
      Question {{ currentQuestionIndex + 1 }}/{{ totalQuestions }}
    </div>
    <div class="quesDisplay">
      <div class="question">
          {{ currentQuestion }}
        </div>
  
        <div>
          <div class="options">
            <mat-radio-group [(ngModel)]="selectedOption">
              <mat-radio-button *ngFor="let option of currentQuestionOptions; let i = index" [value]="i" [checked]="selectedOption === i" (click)="selectOption(i)">
                {{ option }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          
  
          <div class="clear-response-btn mt-3">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="clearSelectedOption(currentQuestionIndex)">Clear Response</button>
          </div>
        </div>
        
    </div>



    <div class="lowerLevel">
      <div class="question-navigation">
        <button class="btn btn-outline-primary btn-sm" [disabled]="currentQuestionIndex === 0" (click)="navigateToQuestion(currentQuestionIndex - 1)">
          <mat-icon>arrow_back_ios</mat-icon>
          Previous Question
        </button>
        <button class="btn btn-outline-primary btn-sm" [disabled]="currentQuestionIndex === totalQuestions - 1" (click)="navigateToQuestion(currentQuestionIndex + 1)">
          Next Question <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      
      
        <div class="instruction-page-btn">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="openInstructionPage()" >
           <span>Instruction</span>  <mat-icon>info</mat-icon></button>
        </div>
    </div>
    

  </div>

  <div class="rightSide">

    <div class="question-list-box">
      <div class="question-list">
        <div class="question-circle" *ngFor="let question of questionList; let i = index" [class.active]="i === currentQuestionIndex" (click)="navigateToQuestion(i)">
          {{ i + 1 }}
        </div>
      </div>
    </div>

    <div class="submitTest">
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="submitTest()">Submit Test</button>
    </div>

  </div>


</div>





      
      
  </div>
  